.sc-form-wrapper .sc-form-heading{
    display: none !important;
}

#sc-box .subMitBtn input[type="submit"]
{
    padding: 5px;
    background: #428bca;
    border-bottom: none;
    width: 50% !important;
    float: none !important;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    font-size: 25px;
}



.sc-aff-base #sc-box .subMitBtn {
    float: none !important;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

#sc-box .sc-field-wrapper{
    background: none !important;

}

#sc-box .locLabel,
#sc-box .sc-field.half.sc-location > span, #sc-box .sc-field.formToggleInc > span,
#sc-box .form_misc label {
    color: #000 !important
}

#sc-box .locDrop select{
    color: #428bca
}

#sc-box .sc-form-wrapper select,
#sc-box .sc-form-wrapper .sc-field input[type="text"],
#sc-box .sc-form-wrapper .dAge input[type="number"]{
    height: auto !important;
    padding: 5px !important;
    border: 1px #ccc solid !important;
    border-radius: 4px !important;
}

#sc-box .sc-form-wrapper .sc-form-heading{
  display: none;
}
