

/* table styles */
.table {
  position: relative;
  z-index: 1;
  letter-spacing: -4px;
  line-height: 0;
  font-size: 0;
}
.table .t-col {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0;
  width: 18%;
  text-align: center;
  border: solid #d9d9d9;
  border-width: 0 1px 0 0;
}
.table .t-col:first-child {
  width: 28%;
  border-width: 0 1px;
  text-align: left;
  color: #515151;
}
.table .t-col a {
  display: block;
  color: #b2b2b2;
  font-weight: 700;
}
.table .t-col a .t-row:first-child {
  color: #515151;
}
.table .t-col .t-row br {
  display: none;
}
@media (max-width: 1023px) {
  .table .t-col .t-row {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .table .t-col .t-row {
    padding: 2px;
  }
}
@media (max-width: 479px) {
  .table .t-col .t-row {
    padding: 1px;
    /*height: 40px;*/
  }
  .table .t-col .t-row br {
    display: block;
    line-height: 0;
    height: 0;
  }
}
.table .t-col a:hover,
.table .t-col a.link-active {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.table .t-col a:hover .t-row:first-child,
.table .t-col a.link-active .t-row:first-child {
  background: #0b6841;
  color: white;
  margin: -8px 0 0;
  height: 70px;
}
@media (max-width: 1023px) {
  .table .t-col a:hover .t-row:first-child,
  .table .t-col a.link-active .t-row:first-child {
    height: 74px;
    margin: -6px 0 0;
  }
}
.table .t-col a:hover .t-row:last-child,
.table .t-col a:hover .t-row.last-child,
.table .t-col a.link-active .t-row:last-child,
.table .t-col a.link-active .t-row.last-child {
  margin: 0 0 -11px;
  height: 78px;
}
@media (max-width: 1023px) {
  .table .t-col a:hover .t-row:last-child,
  .table .t-col a:hover .t-row.last-child,
  .table .t-col a.link-active .t-row:last-child,
  .table .t-col a.link-active .t-row.last-child {
    height: 70px;
    margin: 0 0 -13px;
  }
}
@media (max-width: 640px) {
  .table .t-col a:hover .t-row:last-child,
  .table .t-col a:hover .t-row.last-child,
  .table .t-col a.link-active .t-row:last-child,
  .table .t-col a.link-active .t-row.last-child {
    height: 48px;
    margin: 0 0 -8px;
  }
}
.table .t-col a:hover .t-row,
.table .t-col a.link-active .t-row {
  background: #d3f1f5;
}
.table .t-col a:hover .t-row:nth-child(2n+1),
.table .t-col a:hover .t-row.nth-child,
.table .t-col a.link-active .t-row:nth-child(2n+1),
.table .t-col a.link-active .t-row.nth-child {
  background: #caedf2;
}
.table .t-col a:hover .icon-checked,
.table .t-col a.link-active .icon-checked {
  color: #0b6841;
}
.table .t-row {
  height: 68px;
  padding: 2px 26px;
  border: solid #d9d9d9;
  border-width: 0 0 1px;
  line-height: 1;
  white-space: nowrap;
  /*font-size: 0;*/
  line-height: 0;
  letter-spacing: -4px;
}
.table .t-row:first-child {
  font-weight: 700;
  background: #e8f6f8;
  height: 62px;
  border-width: 1px 0;
}
@media (max-width: 1023px) {
  .table .t-row:first-child {
    height: 68px;
  }
}
.table .t-row:nth-child(2n+1),
.table .t-row .nth-child {
  /*background: #f3fafb;*/
  background: rgba(72, 127, 168, 0.84);
}
.table .t-row:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 -1px;
  width: 1px;
}
.table .t-row .t-content,
.table .t-row .icon-checked {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3;
  max-width: 100%;
}
@media (max-width: 640px) {
  .table .t-row .t-content,
  .table .t-row .icon-checked {
    font-size: 12px;
  }
}
.table .t-row .icon-checked {
  font-size: 30px;
}
@media (max-width: 1023px) {
  .table .t-row .icon-checked {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .table .t-row {
    padding: 2px 5px;
    height: 59px;
  }
}
@media (max-width: 1023px) {
  .table {
    margin: 0 0 20px;
  }
}

.block {
  margin: 0 0 34px;
  padding: 41px 15px 12px;
  border: 1px solid #d3d3d3;
  background: #eaeaea;
  font-size: 14px;
  color: #020202;
  text-align: center;
  position: relative;
}
.block .btn-more {
  margin: 0 0 24px;
}
.block:before {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  height: 1px;
  border-radius: 20px;
  box-shadow: 0 0 25px 5px black;
  z-index: -1;
}
@media (max-width: 1023px) {
  .block {
    margin: 0 0 30px;
    padding: 34px 12% 5px;
  }
}

h2 {
  font-size: 18px;
  margin: 0 0 25px;
}
h2 a {
  font-weight: 700;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 16px;
    margin: 0 0 17px;
  }
}

.details-block {
  position: relative;
  padding: 23px 0 0;
}
.details-block h1 {
  margin: 0 0 22px;
}
.details-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: -35px;
  right: -35px;
  height: 1px;
  border-top: 2px dotted #74c7b7;
}
@media (max-width: 1023px) {
  .details-block {
    padding: 23px 29px 0;
  }
}

/* accordion styles */
.accordion {
  /*border: solid #cfcfcf;*/
  /*border-width: 0 1px 1px;*/
}
.accordion li .opener {
  display: block;
  padding: 8px;
  border-top: 1px solid #cfcfcf;
  background: #e3f4f1;
}
@media (max-width: 1023px) {
  .accordion li .opener {
    padding: 8px 5px;
  }
}
.accordion .opener-title {
  display: block;
  padding: 15px;
  background: #487fa8;
  color: white;
  font-size: 20px;
}
.accordion .opener-title .icon-arrow-down {
  display: none;
}
.accordion .opener-title .icon-arrow-down {
  font-size: 39px;
}
.accordion .opener-title .icon-arrow-right {
  font-size: 34px;
}
.accordion .opener-title i {
  display: inline-block;
  vertical-align: middle;
  margin: 0 27px 0 0;
  height: 39px;
  width: 39px;
}
.accordion .opener-title i:before {
  display: block;
  vertical-align: middle;
  height: 39px;
  width: 39px;
}
@media (max-width: 1023px) {
  .accordion .opener-title {
    font-size: 24px;
  }
}
@media (max-width: 640px) {
  .accordion .opener-title {
    font-size: 16px;
    padding: 10px 3px 10px 40px;
    position: relative;
  }
  .accordion .opener-title i, .accordion .opener-title i:before {
    height: 20px;
    width: 20px;
  }
  .accordion .opener-title i {
    margin: 0;
    position: absolute;
    top: 9px;
    left: 8px;
  }
  .accordion .opener-title .icon-arrow-down,
  .accordion .opener-title .icon-arrow-right {
    font-size: 20px;
  }
}
.accordion li.active > a {
  border-bottom: 1px solid #cfcfcf;
}
.accordion li.active > a .icon-arrow-down {
  display: inline-block;
}
.accordion li.active > a .icon-arrow-right {
  display: none;
}
.accordion .slide {
  padding: 22px 10px 22px 41px;
  color: #515151;
  overflow: hidden;
}
.accordion .slide ul {
  padding: 0 0 0 16px;
}
.accordion .slide li {
  position: relative;
  border-top: 1px dashed #bbb;
  margin: 0 0 9px;
  padding: 15px 0 0;
}
.accordion .slide li:before {
  content: '';
  position: absolute;
  top: 20px;
  left: -16px;
  width: 6px;
  height: 6px;
  background: #000;
  z-index: 1;
}
.accordion .slide li:first-child {
  border: none;
  padding: 0;
}
.accordion .slide li:first-child:before {
  top: 5px;
}
@media (max-width: 1023px) {
  .accordion .slide li {
    margin: 0 0 11px;
    padding: 16px 0 0;
  }
  .accordion .slide li:before {
    top: 21px;
  }
}
.accordion .slide .column {
  float: left;
  width: 29%;
  margin: 0 0 0 5.8%;
}
.accordion .slide .column:first-child {
  margin: 0;
}
@media (max-width: 1023px) {
  .accordion .slide .column {
    width: 100%;
    margin: 0;
  }
}
.accordion .slide .tel {
  color: #515151;
}
@media (max-width: 1023px) {
  .accordion .slide {
    padding: 21px 5px 5px 39px;
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .accordion .slide {
    padding: 10px;
  }
}
@media (max-width: 1023px) {
  .accordion {
    margin: 0 0 22px;
  }
}

.block-more {
  margin: 0 0 28px;
  padding: 19px 12px;
  text-align: center;
  background: #efefef;
  color: #515151;
  font-weight: 700;
  font-size: 20px;
  border: solid #cfcfcf;
  border-width: 0 1px 1px;
}
@media (max-width: 1023px) {
  .block-more {
    display: none;
  }
}

.btn-holder {
  text-align: center;
}
.btn-holder .btn-more {
  padding: 18px 12px;
}
@media (max-width: 1023px) {
  .btn-holder .btn-more {
    margin: 0 0 21px;
    padding: 19px 29px;
  }
}


.icon-checked::before {content: '\e800';}

.fa-check{
  color: #000;
  font-size: 18px
}

ul.accordion{
  list-style: none;
  text-align: left;
  font-size: 12px
}

ul.accordion li {
  list-style: none;
}


.top-we-are{
  background-color: #fff
}



/* ---------------------------------------------------------
  2. Embedded fonts styles
---------------------------------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?60510357");
  src: url("../fonts/fontello.eot?60510357#iefix") format("embedded-opentype"), url("../fonts/fontello.svg?60510357") format("svg"), url("../fonts/fontello.woff?60510357") format("woff"), url("../fonts/fontello.ttf?60510357") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
/*
.icon-checked:before {
  content: '\e800';
}

.icon-phone:before {
  content: '\e801';
}

.icon-save:before {
  content: '\e802';
}

.icon-question:before {
  content: '\e803';
}

.icon-text:before {
  content: '\e804';
}

.icon-arrow-down:before {
  content: '\e805';
}

.icon-text02:before {
  content: '\e806';
}

.icon-arrow-right:before {
  content: '\e807';
}

.icon-cancel-circled2:before {
  content: '\e808';
}

.icon-exclam:before {
  content: '\e809';
}*/


.accordion .rows li{
  border: 1px #ccc solid;
  margin-bottom: 5px
}